<h2 class="subheader" style="text-align:center;">All Flight Entries</h2>



<div style="overflow-x:scroll;">
<table>
  <thead>
    <tr>
      <th>Flight Date (UTC)</th>
      <th>From</th>
      <th>Intermediate Airport</th>
      <th>Second Intermediate Airport</th>
      <th>To</th>
      <th>Takeoff Time</th>
      <th>Landing Time</th>
      <th>Aircraft Model</th>
      <th>Tail Number</th>
      <th>Remarks</th>
      <th>Instructor / Other Crew</th>
      <th>View Entry</th>
    </tr>
  </thead>

  <tbody>
    <% @logentries.each do |log_entry| %>
    <tr>
      <td><%= log_entry.flight_date %></td>
      <td><%= log_entry.from %></td>
      <td><%= log_entry.intermediate_airport %></td>
      <td><%= log_entry.second_intermediate_airport %></td>
      <td><%= log_entry.to %></td>
      <td><%= log_entry.takeoff_time %></td>
      <td><%= log_entry.landing_time %></td>
      <td><%= log_entry.aircraft_model %></td>
      <td><%= log_entry.tail_number %></td>
      <td><%= log_entry.remarks %></td>
      <td><%= log_entry.instructor %></td>
      <td><a href="/log_entries/<%= log_entry.id %>"><i class="fa fa-arrows-alt fa-2x"></i></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
