<h2 class="subheader" style="text-align:center;">All Flights</h2>

<div style="overflow-x:scroll;">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Flight Date (UTC)</th>
      <th>From</th>
      <th>To</th>
      <th>Aircraft Model</th>
      <th>Remarks</th>
      <th>Instructor / Other Crew</th>
      <th>View Entry</th>
    </tr>
  </thead>

  <tbody>
    <% @logentries.each do |log_entry| %>
    <tr>
      <td><%= log_entry.flight_date.to_time.strftime('%B %e at %l:%M %p') %></td>
      <td><%= log_entry.from %></td>
      <td><%= log_entry.to %></td>
      <td><%= log_entry.aircraft_model %></td>
      <td><%= log_entry.remarks %></td>
      <td><%= log_entry.instructor %></td>
      <td><a href="/log_entries/<%= log_entry.id %>"><i class="fa fa-search fa-2x" style="margin-left:.85em;"></i></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
