<h2 class="subheader" style="text-align:center;">My Recent Flights</h2>

<div class="well">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Flight Date (UTC)</th>
      <th>From</th>
      <th>To</th>
      <th>Aircraft Model</th>
      <th>Tail Number</th>
      <th>Instructor / Other Crew</th>
      <th>View Entry</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.log_entries.each do |log_entry| %>
    <tr>
      <td><%= log_entry.flight_date.to_time.strftime('%B, %e %Y') %></td>
      <td><%= log_entry.from_airport.name.titleize %></td>
      <td><%= log_entry.to_airport.name.titleize %></td>
      <td><%= log_entry.aircraft.manufacturer + " " + log_entry.aircraft.model_name %></td>
      <td style="padding-left:30px;"><%= log_entry.aircraft.tail_number %></td>
      <td><%= log_entry.instructor %></td>
      <td><a href="/log_entries/<%= log_entry.id %>"><i class="fa fa-search fa-2x" style="margin-left:.85em;"></i></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
