<% @to = @logentry.to_airport %>
<% @from = @logentry.from_airport %>
<style type="text/css">
  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaJXYsNnk3xZUYrhHoeLkKOqT3_Vppnik">
</script>
<script type="text/javascript">
      function initialize() {
        var to = new google.maps.LatLng(<%= @to.lat %>, <%= @to.long %>);
        var from = new google.maps.LatLng(<%= @from.lat %>, <%= @from.long %>);
        var mapOptions = {
          zoom: 13,
          center: to,
          mapTypeId: google.maps.MapTypeId.TERRAIN,
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var to_marker = new google.maps.Marker({
          position: to,
          map: map,
          title: 'Hello World!'
        });

        var from_marker = new google.maps.Marker({
          position: from,
          map: map,
          title: 'Hello World!'
        });

        var flightPlanCoordinates = [
          new google.maps.LatLng(<%= @to.lat %>, <%= @to.long %>),
          new google.maps.LatLng(<%= @from.lat %>, <%= @from.long %>),
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: "#2780E3",
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
  
        flightPath.setMap(map);

      }

      google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas" style="width:50%;border-right:4px solid #2780E3;"></div>
