<% @to = @logentry.to_airport %>
<% @from = @logentry.from_airport %>
<style type="text/css">
  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaJXYsNnk3xZUYrhHoeLkKOqT3_Vppnik">
</script>
<script type="text/javascript">
      function initialize() {
        var to = new google.maps.LatLng(<%= @to.lat %>, <%= @to.long %>);
        var from = new google.maps.LatLng(<%= @from.lat %>, <%= @from.long %>);
        var mapOptions = {
          zoom: 13,
          center: to,
          mapTypeId: google.maps.MapTypeId.TERRAIN,
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var to_marker = new google.maps.Marker({
          position: to,
          map: map,
          title: 'Hello World!'
        });

        var from_marker = new google.maps.Marker({
          position: from,
          map: map,
          title: 'Hello World!'
        });

        var flightPlanCoordinates = [
          new google.maps.LatLng(<%= @to.lat %>, <%= @to.long %>),
          new google.maps.LatLng(<%= @from.lat %>, <%= @from.long %>),
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: "#2780E3",
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
  
        flightPath.setMap(map);

      }

      google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div style="float:right;width:50%;height:100%;margin-top:-2em;margin-left:2px;margin-right:13px;">
  <div class="panel panel-info" style="margin-top:1em;">
    <div class="panel-heading">
        <h3 class="panel-title"><center>Flight Information</center></h3>
    </div>

    <div style="text-align:center;">Flight Date: <%= @logentry.flight_date.strftime("%m/%d/%Y") %> UTC</div>
    <div style="text-align:center;">Takeoff Time: <%= @logentry.takeoff_time %></div>
    <div style="text-align:center;">Landing Time: <%= @logentry.landing_time %></div>
    <div style="text-align:center;">From: <%= @logentry.from_airport.name.titleize %></div>
    <div style="text-align:center;">To: <%= @logentry.to_airport.name.titleize %></div>
    <div style="text-align:center;">Total Time: <%= @logentry.total_flight_duration %> hours</div>
    <div><center>Aircraft: <%= @logentry.aircraft.make_and_model %></center></div>
    <div><center>Type of Flight: <%= @logentry.type_of_flight %></center></div>
    <div><center>Remarks: <%= @logentry.remarks %></center></div>
    <div><center>Instructor / Other Crew: <%= @logentry.instructor_crew %></center></div>
  </div>
</div>

<div id="map-canvas" style="width:48%;height:100%;margin-top:-1.37em;"></div>
